@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Barlow:wght@300;400;500&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  text-align: center;
  border-radius: 75px;
  padding: 8px 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

body {
  font-family: "Barlow", sans-serif;
  background-image: url("../img/deco1.png"), linear-gradient(235deg, #2C2D65 0.35%, #201F22 100%);
  background-repeat: no-repeat;
  background-position: top -90px right -125px, center;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px;
}

.btn-primary {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  background-color: #E6606C;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #e03d4b;
  transform: scale(1.1);
}

.btn-secondary {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  background-color: #FFFFFF;
  color: #000;
}
.btn-secondary:hover {
  background-color: #e6e6e6;
  transform: scale(1.1);
}

.logo {
  font-family: "Barlow", sans-serif;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.logo span {
  color: #E6606C;
}

.info {
  border: 2px solid red;
}

.header {
  padding-top: 31px;
  padding-bottom: 31px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  display: none;
}
.header .nav a {
  font-family: "Barlow", sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.header .nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #E6606C;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header .nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header .burger-menu {
  display: block;
  width: 45px;
}
@media screen and (min-width: 768px) {
  .header .nav {
    display: flex;
  }
  .header .burger-menu {
    display: none;
  }
}

.section-hero {
  margin-bottom: 100px;
}
.section-hero .container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}
.section-hero .hero-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-family: "Barlow", sans-serif;
  font-size: 54px;
  font-weight: 300;
  line-height: 77px;
  letter-spacing: 0.045em;
  color: #FFFFFF;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}
.section-hero .hero-title::before {
  content: url(../img/deco3\ 1.png);
  position: absolute;
  top: -45px;
  left: -45px;
}
.section-hero .hero-subtitle {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-family: "Barlow", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.045em;
  color: #E8AB36;
  text-align: left;
  text-transform: uppercase;
}
.section-hero .hero-description {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.45px;
  color: #FFFFFF;
  position: relative;
}
@media screen and (min-width: 768px) {
  .section-hero .hero-description {
    width: 80%;
  }
}
.section-hero .hero-description::after {
  content: url(../img/deco2.png);
  position: absolute;
  bottom: -50px;
  right: -30px;
}
@media screen and (min-width: 768px) {
  .section-hero .container {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 120px;
  }
  .section-hero .hero-title {
    font-size: 64px;
    white-space: nowrap;
  }
  .section-hero .hero-subtitle {
    font-size: 32px;
  }
}

.section-cover {
  margin-bottom: 100px;
}
.section-cover .container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}
.section-cover .cover-kicker {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: hsla(0, 0%, 100%, 0.5);
  text-align: left;
  text-transform: uppercase;
}
.section-cover .cover-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0;
  color: #FFFFFF;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}
.section-cover .cover-title::after {
  content: url(../img/Ellipse\ 1.svg);
  position: absolute;
  bottom: -35px;
  right: 40px;
}
@media screen and (min-width: 768px) {
  .section-cover .cover-title::after {
    bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .section-cover .cover-title::after {
    bottom: -30px;
    right: 60px;
  }
}
.section-cover .cover-excerpt {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
  color: #FFFFFF;
}
.section-cover .cover-description {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
  color: hsla(0, 0%, 100%, 0.5);
}
@media screen and (min-width: 768px) {
  .section-cover .container {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
  }
}

.section-articles .container {
  display: grid;
  justify-content: center;
  align-items: center;
  align-items: normal;
  grid-template-columns: 1fr;
}
.section-articles .articles-kicker {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  text-transform: uppercase;
}
.section-articles .articles-title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.section-articles .articles-title::before {
  content: url(../img/deco3\ 2.png);
  position: absolute;
  top: -60px;
  left: -50px;
}
@media screen and (min-width: 768px) {
  .section-articles .articles-title::before {
    left: 90px;
  }
}
@media screen and (min-width: 1280px) {
  .section-articles .articles-title::before {
    left: 250px;
  }
}
.section-articles .articles-description {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
  color: hsla(0, 0%, 100%, 0.5);
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  text-align: center;
}
.section-articles .section-articles-cards {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.section-articles .section-articles-cards .card {
  background: radial-gradient(circle, #4D4F95 0%, #2B2D66 100%);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0px 24px 24px 0px rgba(0, 1, 44, 0.16);
}
.section-articles .section-articles-cards .card:hover {
  background-color: #e03d4b;
  box-shadow: 0px 24px 24px 0px hsla(239, 41%, 41%, 0.16);
  transform: scale(1.02);
  border: 2px solid hsla(0, 0%, 100%, 0.22);
}
.section-articles .section-articles-cards .card img {
  overflow: hidden;
}
.section-articles .card-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: normal;
  color: #FFFFFF;
  margin: 32px;
  width: 75%;
}
.section-articles .date-publication {
  margin: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
  color: hsla(0, 0%, 100%, 0.5);
}
@media screen and (min-width: 768px) {
  .section-articles .articles-description {
    margin-top: 0;
    margin-right: 130px;
    margin-bottom: 0;
    margin-left: 130px;
  }
  .section-articles .section-articles-cards {
    margin-top: 40px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .section-articles .container {
    grid-template-rows: 1fr 2fr;
  }
  .section-articles .section-articles-text {
    grid-column: span 4;
  }
  .section-articles .articles-description {
    margin-top: 0;
    margin-right: 265px;
    margin-bottom: 0;
    margin-left: 265px;
  }
}

.footer {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
.footer .footer-col .logo,
.footer .footer-col .footer-title,
.footer .footer-col ul {
  text-align: center;
}
.footer .content {
  display: flex;
  flex-wrap: wrap;
}
.footer .logo {
  font-family: "Barlow", sans-serif;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.footer .footer-col {
  width: 100%;
}
.footer .footer-col ul.service:last-child {
  margin-bottom: 40px;
}
.footer .footer-title {
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  color: hsla(0, 0%, 100%, 0.5);
  text-transform: uppercase;
}
.footer p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
  color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  margin-bottom: 20px;
}
.footer a {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
  color: #FFFFFF;
  display: block;
}
.footer a a:hover {
  padding-left: 8px;
}
.footer .social-links {
  margin-top: 0;
  margin-right: 100px;
  margin-bottom: 0;
  margin-left: 100px;
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: row;
}
.footer .social-links a {
  padding: 12px;
  display: inline-block;
  height: 48px;
  width: 48px;
  background-color: #6357F6;
  align-items: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer .social-links a a:hover {
  transform: scale(1.1);
}
.footer .social-links a img {
  margin-left: 3px;
  margin-top: 3px;
  width: 22px;
  height: 22px;
  object-fit: contain;
}
.footer .line {
  background-color: #FFFFFF;
  height: 1px;
  opacity: 0.0797;
  margin-bottom: 40px;
}
.footer .footer-policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer .container {
    padding-top: 0px;
  }
  .footer .content {
    padding-left: 0px;
  }
  .footer p {
    margin-bottom: 0px;
  }
  .footer .footer-col .logo,
  .footer .footer-col .footer-title,
  .footer .footer-col ul {
    text-align: left;
  }
  .footer .footer-col {
    width: 25%;
    padding: 0px 15px;
  }
  .footer .footer-col ul.service:last-child {
    margin-bottom: 20px;
  }
  .footer .footer-title {
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 0;
  }
  .footer .footer-policy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 75px;
    flex-wrap: wrap;
  }
  .footer .footer-policy ul {
    display: flex;
    gap: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .container {
    padding-left: 80px;
    padding-right: 80px;
  }
  .footer .footer-col:last-child {
    padding-left: 60px;
  }
  .footer .content {
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .footer .footer-title {
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 0;
  }
  .footer .social-links {
    justify-content: center;
    padding-right: 0;
  }
}/*# sourceMappingURL=styles.css.map */