@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Barlow:wght@300;400;500&display=swap');

//===FONTS===
$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Barlow Condensed', sans-serif;

//== COLORS ==
$primary--pure-white: #FFFFFF;
$secondary--white-alpha: hsla(0, 0%, 100%, 0.50);
$pure-black: #000;
$light-carmine-pink: #E6606C;
$background--gradient: linear-gradient(to right, #201F22, #2C2D65);
$card--gradient: linear-gradient(180deg, #4D4F95 0%, #2B2D66 100%);
$btn--social: #6357F6;
$subtitle--tulip-tree: #E8AB36;

//== SOCIAL LINKS ==
$social-links: facebook xtwitter instagram;
