//===Set container===
@mixin set-container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
}

//===Debug Mode===
$debug: true !default;

@mixin debugmode{
    @if ($debug) {
        @debug "Debug mode enabled";
        border: 2px solid red;
    }
    @else {
        border: none;
    }
}

//===Set display: flex===
@mixin set-display-flex() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//===Set display: grid===
@mixin set-display-grid() {
    display: grid;
    justify-content: center;
    align-items: center;
}
