@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&family=Barlow:wght@300;400;500&display=swap');

//===VARIABLES===
$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Barlow Condensed', sans-serif;

//===TEXT STYLES===
.logo{
    font-family: $primary-font;
    color: $primary--pure-white;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;

    span {
        color: $light-carmine-pink;
    }
}

.header--nav-a{
    font-family: $primary-font;
    color: $primary--pure-white;
    font-size: 14px;
    font-weight: 400;
}

.primary-title {
    font-family: $primary-font;
    color: $primary--pure-white;
    font-size: 64px;
    font-weight: 300;
    line-height: 77px;
    letter-spacing: 0.045em;
    text-align: left;
    text-transform: uppercase;
}

.secondary-title {
    font-family: $secondary-font;
    color: $primary--pure-white;
    font-size: 56px;
    font-weight: 300;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.subtitle {
    font-family: $primary-font;
    color: $subtitle--tulip-tree;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.045em;
    text-align: left;
}

.kicker {
    font-family: $primary-font;
    color: $secondary--white-alpha;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
}
.excerpt{
    font-family: $primary-font;
    color: $secondary--white-alpha;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.paragraph {
    font-family: $primary-font;
    color: $secondary--white-alpha;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.card-text{
    font-family: $secondary-font;
    color: $primary--pure-white;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
}

.footer--nav-a{
    font-family: $primary-font;
    color: $secondary--white-alpha;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}
