//=====RESET=====

@import '01-Variables';
@import '02-Reset';
@import '03-Mixins';
@import '04-Breakpoints';
@import '05-Buttons';

body {
    font-family: $primary-font;
    background-image: url('../img/deco1.png'), $background--gradient;
    background-repeat: no-repeat;
    height: 100vh; 
    background-position: top -90px right -125px, center;
}

.container {
    @include set-container;
}

//----Debug Class 
.info {
    @include debugmode();
}

//===Margin 20px
.mt-20 {
    margin-top: 20px;
}

.mt-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-20 {
    margin-left: 20px;
}

//=====HEADER=====
.header {
    padding-top: 31px;
    padding-bottom: 31px;

    .container {
        @include set-display-flex;
    }

    .logo {
        font-family: $primary-font;
        color: $primary--pure-white;
        font-size: 32px;
        font-weight: 800;
        text-transform: uppercase;

        span {
            color: $light-carmine-pink;
        }
    }

    

    .nav {
        @include set-display-flex;
        gap: 40px;

        display: none;

        a {
            font-family: $primary-font;
            color: $primary--pure-white;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .burger-menu {
        display: block;
    }

    @include resolution($ipad) {
        .nav {
            display: flex;
        }

        .burger-menu {
            display: none;
        }
    }
}

//MAIN
.main {
    margin-bottom: 100px;

    .container {
        @include set-display-grid;
        grid-template-columns: 1fr;
    }

    .hero-title {
        position: relative;
        font-family: $primary-font;
        color: $primary--pure-white;
        font-size: 54px;
        font-weight: 300;
        line-height: 77px;
        letter-spacing: 0.045em;
        text-align: left;
        text-transform: uppercase;
    }

    .hero-title::before{
        content: url(../img/deco3\ 1.png);
        position: absolute;
        top: -45px;
        left: -45px;
    }

    .hero-subtitle {
        font-family: $primary-font;
        color: $subtitle--tulip-tree;
        font-size: 26px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0.045em;
        text-align: left;
        text-transform: uppercase;
    }

    .hero-description {
        position: relative;
        color: $primary--pure-white;
        font-family: $primary-font;
        font-size: 16px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0.45px;
        width: 80%;
    }

    .hero-description::after {
        content: url(../img/deco2.png);
        position: absolute;
        bottom: -50px;
        right: -30px;
    }

    @include resolution($ipad) {
        .container {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 175px;;
        }

        .hero-title {
            font-size: 64px;
            white-space: nowrap;
        }

        .hero-subtitle {
            font-size: 32px;
        }
    }

    .btn-primary {
        @extend %btn;
        background-color: $light-carmine-pink;
        color: $primary--pure-white;

        &:hover {
            background-color: darken($light-carmine-pink, 10%);
            transform: scale (1.1);
        }
    }

    .btn-secondary {
        @extend %btn;
        background-color: $primary--pure-white;
        color: $pure-black;

        &:hover {
            background-color: darken($primary--pure-white, 10%);
            transform: scale (1.1);
        }
    }
}