//=====RESET=====

@import '01-Variables';
@import '02-Reset';
@import '03-Mixins';
@import '04-Breakpoints';
@import '05-Buttons';

body {
    font-family: $primary-font;
    background-image: url('../img/deco1.png'), $background--gradient;
    background-repeat: no-repeat;
    background-position: top -90px right -125px, center;
}

.container {
    @include set-container;
}

.btn-primary {
    @include margin(20px, 20px, 0, 0);
    @extend %btn;
    background-color: $light-carmine-pink;
    color: $primary--pure-white;

    &:hover {
        background-color: darken($light-carmine-pink, 8%);
        transform: scale(1.1);
    }
}

.btn-secondary {
    @include margin(20px, 20px, 0, 0);
    @extend %btn;
    background-color: $primary--pure-white;
    color: $pure-black;

    &:hover {
        background-color: darken($primary--pure-white, 10%);
        transform: scale(1.1);
    }
}

.logo {
    font-family: $primary-font;
    color: $primary--pure-white;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;

    span {
        color: $light-carmine-pink;
    }
}

//----Debug Class 
.info {
    @include debugmode();
}

//=====HEADER=====
.header {
    padding-top: 31px;
    padding-bottom: 31px;

    .container {
        @include set-display-flex;
    }

    .nav {
        @include set-display-flex;
        gap: 40px;

        display: none;

        a {
            font-family: $primary-font;
            color: $primary--pure-white;
            font-size: 14px;
            font-weight: 400;
            position: relative;
        }

        a::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: $light-carmine-pink;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        a:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }

    .burger-menu {
        display: block;
        width: 45px;
    }

    @include resolution($ipad) {
        .nav {
            display: flex;
        }

        .burger-menu {
            display: none;
        }
    }
}

//SECTION HERO
.section-hero {
    margin-bottom: 100px;

    .container {
        @include set-display-grid;
        grid-template-columns: 1fr;
    }

    .hero-title {
        @include margin(0, 0, 20px, 0);
        @include font($primary-font, 54px, 300, 77px, 00.045em, $primary--pure-white);
        position: relative;
        text-align: left;
        text-transform: uppercase;
    }

    .hero-title::before {
        content: url(../img/deco3\ 1.png);
        position: absolute;
        top: -45px;
        left: -45px;
    }

    .hero-subtitle {
        @include margin(0, 0, 20px, 0);
        @include font($primary-font, 26px, 400, 38px, 0.045em, $subtitle--tulip-tree);
        text-align: left;
        text-transform: uppercase;
    }

    .hero-description {
        @include margin(0, 0, 20px, 0);
        @include font($primary-font, 16px, 300, 32px, 0.45px, $primary--pure-white);
        position: relative;

        @include resolution($ipad) {
            width: 80%;
        }
    }

    .hero-description::after {
        content: url(../img/deco2.png);
        position: absolute;
        bottom: -50px;
        right: -30px;
    }

    @include resolution($ipad) {
        .container {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 120px;
        }

        .hero-title {
            font-size: 64px;
            white-space: nowrap;
        }

        .hero-subtitle {
            font-size: 32px;
        }
    }
}

//SECTION COVER
.section-cover {
    margin-bottom: 100px;

    .container {
        @include set-display-grid;
        grid-template-columns: 1fr;
    }

    .cover-kicker {
        @include margin(0, 0, 15px, 0);
        @include font($primary-font, 16px, 400, 32px, 3px, $secondary--white-alpha);
        text-align: left;
        text-transform: uppercase;
    }

    .cover-title {
        @include margin(0, 0, 30px, 0);
        @include font($secondary-font, 56px, 300, 64px, 0, $primary--pure-white);
        position: relative;
        text-align: left;
        text-transform: uppercase;
    }

    .cover-title::after {
        content: url(../img/Ellipse\ 1.svg);
        position: absolute;
        bottom: -35px;
        right: 40px;

        @include resolution($ipad){
            bottom: 20px;
        }

        @include resolution($laptop13){
            bottom: -30px;
            right: 60px;
        }
    }

    .cover-excerpt {
        @include margin(0, 0, 30px, 0);
        @include font($primary-font, 20px, 400, 32px, normal, $primary--pure-white);
    }

    .cover-description {
        @include font($primary-font, 16px, 400, 32px, normal, $secondary--white-alpha);
    }

    @include resolution($ipad) {
        .container {
            @include margin(20px, auto, 20px, auto);
            grid-template-columns: 1fr 1fr;
            gap: 90px;
        }
    }
}

//SECTION ARTICLES
.section-articles {
    .container {
        @include set-display-grid;
        align-items: normal;
        grid-template-columns: 1fr;
    }

    .articles-kicker {
        @include margin(0, 0, 15px, 0);
        @include font($primary-font, 16px, 400, 32px, 3px, $secondary--white-alpha);
        text-align: center;
        text-transform: uppercase;
    }

    .articles-title {
        @include margin(0, 0, 30px, 0);
        @include font($secondary-font, 56px, 300, 64px, 0, $primary--pure-white);
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    .articles-title::before {
        content: url(../img/deco3\ 2.png);
        position: absolute;
        top: -60px;
        left: -50px;

        @include resolution($ipad){
            left: 90px;
        }
        @include resolution($laptop13){
            left: 250px;
        }
    }

    .articles-description {
        @include font($primary-font, 16px, 400, 32px, normal, $secondary--white-alpha);
        @include margin(0, 0, 30px, 0);
        text-align: center;
    }

    .section-articles-cards {
        margin: 30px;
        @include set-display-flex;
        flex-direction: column;
        gap: 30px;

        .card {
            background: $card--gradient;
            border-radius: 12px;
            border: 2px solid rgba(255, 255, 255, 0.08);
            box-shadow: 0px 24px 24px 0px rgba(0, 1, 44, 0.16);

            &:hover {
                background-color: darken($light-carmine-pink, 8%);
                box-shadow: 0px 24px 24px 0px hsla(239, 41%, 41%, 0.16);
                transform: scale(1.02);
                border: 2px solid hsla(0, 0%, 100%, 0.22);
            }

            img {
                overflow: hidden;
            }
        }
    }

    .card-title {
        @include font($secondary-font, 24px, 300, 32px, normal, $primary--pure-white);
        margin: 32px;
        width: 75%;
    }

    .date-publication {
        margin: 32px;
        color: $secondary--white-alpha;
        @include font($primary-font, 16px, 400, 32px, normal, $secondary--white-alpha);
    }

    @include resolution($ipad) {
        .articles-description {
            @include margin(0, 130px, 0, 130px);
        }

        .section-articles-cards {
            margin-top: 40px;;
            flex-direction: row;
        }
    }

    @include resolution($ipadPro) {
        .container {
            grid-template-rows: 1fr 2fr;
        }

        .section-articles-text {
            grid-column: span 4;
        }


        .articles-description {
            @include margin(0, 265px, 0, 265px);
        }
    }
}


.footer {
    @include padding(30px, 30px, 30px, 30px);

    .footer-col {

        .logo,
        .footer-title,
        ul {
            text-align: center;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        font-family: $primary-font;
        color: $primary--pure-white;
        font-size: 32px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .footer-col {
        width: 100%;

        ul.service:last-child {
            margin-bottom: 40px;
        }
    }

    .footer-title {
        @include margin(20px, 0, 15px, 0);
        @include font($primary-font, 16px, 400, 32px, 3px, $secondary--white-alpha);
        text-transform: uppercase;
    }

    p {
        @include font($primary-font, 16px, 400, 32px, normal, $secondary--white-alpha);
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        @include font($primary-font, 16px, 400, 32px, normal, $primary--pure-white);
        display: block;

        a:hover {
            padding-left: 8px;
        }
    }

    .social-links {
        @include margin(0, 100px, 0, 100px);
        display: flex;
        gap: 8px;
        justify-content: space-evenly;
        align-items: flex-end;

        flex-direction: row;

        a {
            padding: 12px;

            display: inline-block;
            height: 48px;
            width: 48px;
            background-color: $btn--social;
            align-items: center;
            line-height: 40px;
            border-radius: 50%;
            color: #ffffff;
            transition: all 0.5s ease;

            a:hover {
                transform: scale(1.1);
            }

            img {
                margin-left: 3px;
                margin-top: 3px;
                width: 22px;
                height: 22px;
                object-fit: contain;
            }
        }
    }

    .line {
        background-color: $primary--pure-white;
        height: 1px;
        opacity: 0.0797;
        margin-bottom: 40px;
    }

    .footer-policy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @include resolution($ipad) {
        .container{
            padding-top: 0px;
        }

        .content{
            padding-left: 0px;
        }

        p{
            margin-bottom: 0px;

        }

        .footer-col {

            .logo,
            .footer-title,
            ul {
                text-align: left;
            }
        }

        .footer-col {
            width: 25%;
            padding: 0px 15px;

            ul.service:last-child {
                margin-bottom: 20px;
            }
        }

        .footer-title {
            @include margin(0px, 0, 15px, 0);
        }

        .footer-policy {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 75px;
            flex-wrap: wrap;

            ul {
                display: flex;
                gap: 48px;
            }
        }
    }

    @include resolution($laptop13) {
        .container {
            padding-left: 80px;
            padding-right: 80px;
        }

        .footer-col:last-child{
            padding-left: 60px;
        }

        .content {
            padding-right: 0px;
            padding-bottom: 0px;
        }

        .footer-title {
            @include margin(0px, 0, 15px, 0);
        }

        .social-links {
            justify-content: center;
            padding-right: 0;
        }
    }
}