$primary--pure-white: #FFFFFF;
$secondary--white-alpha: hsla(0, 0%, 100%, 0.50);
$pure-black: #000;
$light-carmine-pink: #E6606C;
$background--gradient: linear-gradient(to right, #201F22, #2C2D65);
$card--gradient: linear-gradient(0deg, #2B2D66, #4D4F95);
$btn--social: #6357F6;
$subtitle--tulip-tree: #E8AB36;